body {
font-family: Arial, sans-serif;
background: #0f172a;
color: white;
max-width: 900px;
margin: auto;
padding: 40px;
}

h1 {
font-size: 48px;
}

h2 {
margin-top: 50px;
}

button {
padding: 12px 20px;
margin: 10px;
border: none;
cursor: pointer;
}
nav {
  margin-bottom: 40px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

section {
  margin-top: 50px;
}

footer {
  margin-top: 80px;
  text-align: center;
}
